body {
    font: 400 15px/1.8 Lato;
    font-family: 'Roboto Mono', monospace;
    color: rgb(20, 19, 19);
    background-size: 12.5%;
    background-color: rgba(237, 238, 231, 0.938);
    background-image: linear-gradient(to right, rgb(214, 210, 210) 1px, transparent 1px);
}

h3,
h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;
    font-size: 20px;
    color: #111;
}

#myCarousel {
    display: none;
}


/* Create a Parallax Effect */

.bgimg-1,
.bgimg-2,
.bgimg-gafarro,
.bgimg-menuts,
.bgimg-adults {
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-menuts {
    background-image: url("img/menuts-bg.jpg");
    min-height: 80vh;
    position: relative;
    opacity: 0.8;
}

.bgimg-gafarro {
    background-image: url("img/gafarro-bg.jpg");
    min-height: 80vh;
    position: relative;
    opacity: 0.8;
}

.bgimg-adults {
    background-image: url("img/adults-bg.jpg");
    min-height: 80vh;
    position: relative;
    opacity: 0.8;
}

.bgimg-1 {
    background-image: url("img/esdeveniments-bg.jpg");
    min-height: 80vh;
    position: relative;
    opacity: 0.8;
}

.page-text {
    top: 10%;
    position: absolute;
    width: 30%;
    left: -650px;
    transition: 1s;
    color: #fff;
    font-size: 18px;
    border-radius: 0 10px 10px 0;
}

.section-title {
    opacity: 1 !important;
    width: 100%;
    background: #000000a8;
    transition: 1s;
    color: #fff;
    font-size: 22px;
    border-radius: 0 10px 10px 0;
}

.section-text {
    margin-left: 5%;
    width: 100%;
    background: #b4130b9f;
    transition: 1s;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    text-align: justify !important;
}

.in-view {
    transform: translateX(650px);
    animation: come-in 0.8s ease forwards;
}

@media (max-width: 700px) {
    .page-text {
        width: 70%;
    }
    .section-title {
        font-size: 14px;
    }
    .section-text {
        font-size: 12px;
    }
}

@media (max-width: 1200px) {
    .page-text {
        width: 40%;
    }
    .section-title {
        font-size: 14px;
    }
    .section-text {
        font-size: 12px;
    }
}

.bg-contc {
    background: rgb(0, 0, 0);
    min-height: 20vh;
}

.container-contact {
    width: 80% !important;
    position: relative;
    font-size: 22px;
}

.container {
    width: 100% !important;
    position: relative;
    font-size: 22px;
}

.text-left {
    padding: 80px 37% 0px 24.5%;
    text-align: left;
}

.text-right {
    padding: 40px 24.5% 10% 37%;
    text-align: right;
}

@media (max-width: 1500px) {
    .container {
        padding: 70px 12.5% 10% 12.5%;
        font-size: 18px;
    }
    .text-left {
        padding: 80px 24.5% 0px 0%;
        text-align: left;
    }
    .text-right {
        padding: 40px 0% 0px 24.5%;
        text-align: right;
    }
}

@media (max-width: 700px) {
    .container {
        padding: 80px 10px;
        font-size: 16px;
    }
    body {
        background-size: 100%;
    }
    .text-left {
        padding: 80px 0% 0px 0%;
        text-align: center;
    }
    .text-right {
        padding: 40px 0% 0px 0%;
        text-align: center;
    }
}

.container-vid {
    position: relative;
    width: 100%;
    min-height: 100vh;
    bottom: 0;
}

.carousel-inner img {
    -webkit-filter: grayscale(60%);
    filter: grayscale(60%);
    /* make all photos black and white */
    width: 100%;
    /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none;
        /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}

.btn:hover,
.btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}

.modal-header,
h4,
.close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
}

.modal-header,
.modal-body {
    padding: 40px 50px;
}

.nav-tabs li a {
    color: #777;
}

#map {
    width: 100%;
    height: 400px;
    -webkit-filter: grayscale(70%);
    filter: grayscale(70%);
    z-index: 9;
}

.form-control {
    border-radius: 10px;
    border: 2px solid rgb(110, 101, 101);
    background: #e0d9d9;
    color: #353131;
}

textarea {
    resize: none;
}

.form-contact {
    width: 70%;
    height: 100%;
    color: rgb(41, 38, 38) !important;
}

.form-bg {
    border-radius: 10px;
}

.form-control:focus {
    border: 2px solid rgb(0, 0, 0);
    background: #dfd3d3;
    color: rgb(0, 0, 0);
}

.btn {
    background: #222;
    color: white;
}

.btn:hover {
    background: #444;
    color: white;
}


/**
* Footer style
**/

footer {
    background-color: #050505;
    color: #fafafa;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}

footer.content-info {
    padding: 50px 0;
}

footer.content-info img {
    max-width: 35px;
    display: block;
    float: left;
    margin-right: 6px;
    margin-top: 4px
}

footer.content-info .brand {
    float: left
}

footer.content-info p {
    text-align: left;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase
}

footer.content-info .brandSmall {
    margin-top: -5px;
    font-size: 10px
}

footer.content-info .footer-text {
    margin-top: 20px;
    color: white;
    text-align: center;
    font-size: 10px
}

footer.content-info .footer-text a {
    color: white;
    -webkit-transition: color .1s ease-in-out 0s;
    -o-transition: color .1s ease-in-out 0s;
    transition: color .1s ease-in-out 0s
}

footer.content-info .footer-text a:hover,
footer.content-info .footer-text a:focus {
    text-decoration: none;
    color: #ec594d;
}

footer.content-info #social {
    text-align: center
}

footer.content-info #social .icon {
    position: relative;
    display: inline-block;
    top: 0;
    -webkit-transition: all .2s ease-in-out .05s;
    -o-transition: all .2s ease-in-out .05s;
    transition: all .2s ease-in-out .05s;
    border: 2px solid #ce1b0b;
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

footer.content-info #social .icon .social-icon {
    position: absolute;
    top: 45%;
    left: 55%;
    transform: translate(-50%, -50%);
}

footer.content-info #social .icon:hover {
    top: -3px;
    background: #740503ce;
}

footer.content-info .text-center {
    font-size: 25px;
    padding-bottom: 40px !important;
}

footer.content-info .text-center .up-arrow:hover {
    color: #ec594d;
}

.ml11 {
    font-size: 4.5em;
}

.ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
}

.ml11 .line1 {
    top: 0;
    left: 0;
}

.ml11 .letter {
    display: inline-block;
    line-height: 1em;
}


/* -------------------------------- 

Primary style

-------------------------------- */

*,
*::after,
*::before {
    box-sizing: border-box;
}

body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'mobile';
    display: none;
}

@media only screen and (min-width: 1050px) {
    body::before {
        /* never visible - this is used in jQuery to check the current MQ */
        content: 'desktop';
    }
}

a {
    color: #267481;
    text-decoration: none;
}


/* -------------------------------- 
  
  Main Components 
  
  -------------------------------- */

@media only screen and (min-width: 1050px) {
    body[data-hijacking="on"] {
        overflow: hidden;
    }
}

.cd-section {
    height: 100vh;
}

.cd-section h2 {
    line-height: 100vh;
    text-align: center;
    font-size: 2.4rem;
}

.cd-section:first-of-type>div {
    background-color: #2b334f;
}

.cd-section:first-of-type>div::before {
    /* alert -> all scrolling effects are not visible on small devices */
    content: 'Effects not visible on mobile!';
    position: absolute;
    width: 100%;
    text-align: center;
    top: 20px;
    z-index: 2;
    font-weight: bold;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #6a7083;
}

.cd-section:nth-of-type(2)>div {
    background-color: #2e5367;
}

.cd-section:nth-of-type(3)>div {
    background-color: #267481;
}

.cd-section:nth-of-type(4)>div {
    background-color: #fcb052;
}

.cd-section:nth-of-type(5)>div {
    background-color: #f06a59;
}

[data-animation="parallax"] .cd-section>div,
[data-animation="fixed"] .cd-section>div,
[data-animation="opacity"] .cd-section>div {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

[data-animation="parallax"] .cd-section:first-of-type>div,
[data-animation="fixed"] .cd-section:first-of-type>div,
[data-animation="opacity"] .cd-section:first-of-type>div {
    background-image: url("../img/img-1.jpg");
}

[data-animation="parallax"] .cd-section:nth-of-type(2)>div,
[data-animation="fixed"] .cd-section:nth-of-type(2)>div,
[data-animation="opacity"] .cd-section:nth-of-type(2)>div {
    background-image: url("../img/img-2.jpg");
}

[data-animation="parallax"] .cd-section:nth-of-type(3)>div,
[data-animation="fixed"] .cd-section:nth-of-type(3)>div,
[data-animation="opacity"] .cd-section:nth-of-type(3)>div {
    background-image: url("../img/img-3.jpg");
}

[data-animation="parallax"] .cd-section:nth-of-type(4)>div,
[data-animation="fixed"] .cd-section:nth-of-type(4)>div,
[data-animation="opacity"] .cd-section:nth-of-type(4)>div {
    background-image: url("../img/img-4.jpg");
}

[data-animation="parallax"] .cd-section:nth-of-type(5)>div,
[data-animation="fixed"] .cd-section:nth-of-type(5)>div,
[data-animation="opacity"] .cd-section:nth-of-type(5)>div {
    background-image: url("../img/img-5.jpg");
}

@media only screen and (min-width: 1050px) {
    .cd-section h2 {
        font-size: 4rem;
        font-weight: 300;
    }
    [data-hijacking="on"] .cd-section {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    [data-hijacking="on"] .cd-section>div {
        visibility: visible;
    }
    [data-hijacking="off"] .cd-section>div {
        opacity: 0;
    }
    [data-animation="rotate"] .cd-section {
        /* enable a 3D-space for children elements */
        -webkit-perspective: 1800px;
        -moz-perspective: 1800px;
        perspective: 1800px;
    }
    [data-hijacking="on"][data-animation="rotate"] .cd-section:not(:first-of-type) {
        -webkit-perspective-origin: center 0;
        -moz-perspective-origin: center 0;
        perspective-origin: center 0;
    }
    [data-animation="scaleDown"] .cd-section>div,
    [data-animation="gallery"] .cd-section>div,
    [data-animation="catch"] .cd-section>div {
        box-shadow: 0 0 0 rgba(25, 30, 46, 0.4);
    }
    [data-animation="opacity"] .cd-section.visible>div {
        z-index: 1;
    }
}

@media only screen and (min-width: 1050px) {
    .cd-section:first-of-type>div::before {
        display: none;
    }
}

@media only screen and (min-width: 1050px) {
    .cd-section>div {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        /* Force Hardware Acceleration */
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    [data-hijacking="on"] .cd-section>div {
        position: absolute;
    }
    [data-animation="rotate"] .cd-section>div {
        -webkit-transform-origin: center bottom;
        -moz-transform-origin: center bottom;
        -ms-transform-origin: center bottom;
        -o-transform-origin: center bottom;
        transform-origin: center bottom;
    }
}

.cd-vertical-nav {
    /* lateral navigation */
    position: fixed;
    z-index: 1;
    right: 3%;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: none;
}

.cd-vertical-nav a {
    display: block;
    height: 40px;
    width: 40px;
    /* image replace */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: url(../img/cd-icon-arrow.svg) no-repeat center center;
}

.cd-vertical-nav a.cd-prev {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-bottom: 10px;
}

.cd-vertical-nav a.inactive {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    transition: opacity 0.2s 0s, visibility 0s 0.2s;
}

@media only screen and (min-width: 1050px) {
    .cd-vertical-nav {
        display: block;
    }
}